.minMaxCloseButton {
    -fx-font-size: 8;

}
.minMaxCloseButton {
    -fx-focus-traversable: false;
}

.minMaxCloseButton:hover {
    -fx-background-color: derive(button_background_color, 30%);
    -fx-border-color: transparent;
}

.closeButton:hover {
    -fx-background-color: red;
}

.split-pane:vertical > * > .split-pane-divider {
    -fx-border-color:  transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}
